@import "../base.scss";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black-primary;
    height: 11vh;
    width: 100%;
}
.headerLogo{
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;
    margin-left: 20px;
}
.mobileMenu{
    display: none;
    cursor: pointer;
}
form{
    padding: 0 0.4rem;
    margin: 0 1rem;
   
    border-radius: 3px;
    border: 1.2px solid;
    background-color: $black-secondary;
}
input{
    
    border: none;
    font-weight: 500;
    color: $text-color;
    background: transparent;
    outline: none;
    padding: 0.5rem;
}
.headerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.2rem;
    // width: 15%;
}
button{
    padding: 0 1.25rem;
    color: $text-color;
    background: transparent;
    border: none;
}
@media (max-width:$breakpoint-small){
    .header{
        padding: 1rem;
        form{
            flex:1
        }
        .headerLogo{
            display: none;
        }
        .mobileMenu{
            display: block;
        }
        .headerIcons>*:not(img){
            display: none;
        }
    }
}